body{
    font-family: Arial, sans-serif;
    font-size: .85vw;
  }
  
  .container{
    display:flex;
  }
  
  main{
    flex: 2;
  }
  
  #main-section{
    padding: 10px;
  }
  
  .code{
    background: lightgray;
    margin-left: 5vw;
    padding: 15px;
  }
  
  #navbar{
    order: -1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    width: 15%;
  }
  
  header, .nav-link{
    color: black;
    border-bottom: 1px solid;
    text-decoration: none;
    padding: 5px;
  }
  
  @media (max-width: 1000px){
    body{
      font-size: 1.5vw;
    }
    
    
    #navbar{
      display: none;
    }
  }